* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #F5ECD7;
  
}

.navbar {
  position: relative;
  height: 100px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

.logo {
  font-size: 68px;
    color: #3E2208;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.add-btn {
  background-color: #7A8C5e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
}

.main-content {
  padding: 32px;
}

.section-title {
  font-size: 22px;
  margin-bottom: 24px;
}
.search-bar {
  margin-bottom: 24px;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px 16px;
  border: 2px solid #C4A882;
  border-radius: 20px;
  background-color: #FDF6E3;
  font-family: Georgia, serif;
  font-size: 14px;
  color: #3E2208;
  outline: none;
}

.search-bar input::placeholder {
  color: #C4A882;
  font-style: italic;
}

.search-bar input:focus {
  border-color: #8B5E3C;
}

.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}